.modal {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm;
}

.modal_container {
  @apply bg-gray-900 border-2 border-neutral-700 rounded-md shadow-lg flex flex-col;
  width: 35%;
  max-width: 400px;
  min-width: 300px;
  padding-bottom: 1rem;
}

.modal_title {
  @apply flex items-center justify-between w-full bg-blue-900 rounded-t-sm;
  padding: 0.5rem 1rem;
}

.title {
  @apply text-white;
}

.button_close {
  @apply text-2xl text-white;
}

.form {
  @apply flex flex-col flex-grow justify-between;
}

.input_group {
  @apply mb-3 mt-4 px-6;
}

.input_wrapper {
  @apply flex flex-col mb-2;
}

.input_field {
  @apply w-full p-2 border border-neutral-700 rounded focus:outline-none focus:border-indigo-500 bg-transparent text-white transition-colors;
}

.buttons_group {
  @apply flex items-center justify-between px-6 mt-4;
}

.counter_group {
  @apply flex items-center;
}

.button_plus {
  @apply p-2 rounded-full bg-green-500 text-white flex items-center justify-center mr-2;
  &:hover {
    @apply bg-green-600;
  }
  &:disabled {
    @apply bg-gray-500 cursor-not-allowed;
  }
}

.counter {
  @apply text-white text-lg mx-2;
}

.button_minus {
  @apply p-2 rounded-full bg-red-500 text-white flex items-center justify-center mr-4;
  &:hover {
    @apply bg-red-600;
  }
  &:disabled {
    @apply bg-gray-500 cursor-not-allowed;
  }
}

.button_add_wrapper {
  @apply flex justify-end;
}

.button_add {
  @apply rounded-sm px-4 py-2 text-lg bg-blue-500 text-black;
  &:hover {
    @apply bg-blue-600;
  }
  &:disabled {
    @apply bg-gray-500 cursor-not-allowed;
  }
}