/* AddAccount.module.scss */
.modal {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;
}

.modal_container {
  @apply bg-gray-900 border-2 border-neutral-700 rounded-md shadow-lg flex flex-col overflow-y-auto;
  width: 40vw;
  max-height: 85vh;
}

.modal_title {
  @apply flex items-center justify-between w-full bg-blue-900 rounded-t-sm sticky top-0 z-10;
  padding: 0.5rem 1rem;
}

.modal_content {
  max-height: 70vh;
  overflow-y: auto;
  padding: 1rem;
}

.title {
  @apply text-white;
}

.button_close {
  @apply text-2xl text-white;
}

.form {
  @apply flex flex-col flex-grow justify-between;
}

.input_group {
  @apply mb-3 mt-4 px-6;
  display: grid;
  grid-gap: 1rem;
}

.input_field {
  @apply w-full p-2 border border-neutral-700 rounded focus:outline-none focus:border-indigo-500 bg-transparent text-white transition-colors;
}

.buttons_group {
  @apply flex items-center justify-between px-6;
}

.button_add {
  @apply mt-4 rounded-sm px-4 py-3 text-lg bg-blue-500 text-black;
  &:hover {
    @apply bg-blue-600;
  }
}